aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
anaconda-anon-usage 
annotated-types==0.7.0
anyio==4.4.0
appnope 
archspec 
asttokens 
attrs==23.2.0
beautifulsoup4==4.12.3
boltons 
Brotli 
bs4==0.0.2
certifi 
cffi 
chardet==5.2.0
charset-normalizer 
ci-info==0.3.0
click==8.1.7
comm 
conda 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
configobj==5.0.8
configparser==7.0.0
cryptography 
debugpy 
decorator 
distro 
etelemetry==0.3.1
exceptiongroup 
executing 
filelock==3.15.4
fitz==0.0.1.dev2
frozendict 
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna 
importlib_metadata 
ipykernel 
ipython 
isodate==0.6.1
jedi 
joblib==1.4.2
jsonpatch 
jsonpointer==2.1
jupyter_client 
jupyter_core 
libmambapy 
looseversion==1.3.0
lxml==5.2.2
matplotlib-inline 
menuinst 
multidict==6.0.5
nest_asyncio 
networkx==3.3
nibabel==5.2.1
nipype==1.8.6
numpy==2.0.0
openai==1.35.10
packaging 
pandas==2.2.2
parso 
pathlib==1.0.1
pexpect 
pickleshare 
platformdirs 
pluggy 
prompt_toolkit 
prov==2.0.1
psutil 
ptyprocess 
pure-eval 
pycosat 
pycparser 
pydantic==2.8.2
pydantic_core==2.20.1
pydot==2.0.0
Pygments 
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pyparsing==3.1.2
PySocks 
python-dateutil 
python-dotenv==1.0.1
pytz==2024.1
pyxnat==1.6.2
pyzmq 
rdflib==6.3.2
regex==2024.5.15
requests 
ruamel.yaml 
scikit-learn==1.5.1
scipy==1.14.0
setuptools==69.5.1
simplejson==3.19.2
six 
sniffio==1.3.1
soupsieve==2.5
stack-data 
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tornado 
tqdm 
traitlets 
traits==6.3.2
truststore 
typing_extensions 
tzdata==2024.1
umap==0.1.1
urllib3 
wcwidth 
webdriver-manager==4.0.1
wheel==0.43.0
yarl==1.9.4
zipp 
zstandard 
